

.hub {
    color: var(--txt-color)

}

.hub__content{
    // padding-left: var(--sidebar-width);
    padding: 10px 15px;
    background-color: var(--second-bg);
    height: 80vh;

}

.hub__content_mobile{
    background-color: var(--second-bg);
    height: 80vh;

}

.hub__content-main{
    padding: 30px;
}

@media (max-width:1030) {
    .hub__content{
        height: 100vh;
    }
}